<%- include('../partials/header.ejs') %>

<div class="signup content">
    <form class="signup-form" action="/users/signup" method="POST">
        <h2>Build Your Profile</h2>
        <div class="form">
            <div class="form-illus"></div>
            <div class="form-elements">
                <div>
                    <% if(error.message) {%>
                        <div class="error-msg">*<%= error.message %></div>
                    <% } %>
                    <label for="fullName">Your good name?</label>
                    <input type="text" class="input-fullName" name="fullName" autofocus>
                    <label for="email">Your enchanted email.</label>
                    <input type="email" class="input-email" name="email">
                    <label for="password">Your secret passphrase!</label>
                    <input type="password" class="input-password" name="password">
                    <button type="submit" disabled>Sign up</button>
                    <div class="sign-other-option">
                        Already have an account? <a href="/blogs/signin">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    const signupForm = document.querySelector('.signup-form');
    const fullName = signupForm.querySelector('.input-fullName');
    const email = signupForm.querySelector('.input-email');
    const password = signupForm.querySelector('.input-password');
    const button = signupForm.querySelector('button[type="submit"]');

    fullName.addEventListener('input', () => {
        fullName.value ? fullName.value = fullName.value.toLowerCase().replace(/\b\w/g, (char) => char.toUpperCase()) : "";
    });

    signupForm.addEventListener('input', () => {
        fullName.value && email.value && password.value ? button.disabled = false : button.disabled = true;
    });
</script>